
.item1 {
    position: absolute;
    width: 343px;
    height: 342px;

    background: #C4C4C4;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.but1 {
    position: absolute;
    width: 343px;
    height: 60px;
    top: 360px;
    background: #1E5C46;
    color: whitesmoke;
    border-radius: 15px;
    border-style: none;
    font-size: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}


footer{
    position: absolute;
    background-color: #1E5C46;
    
    width: 100%;
    height: 7%;
    bottom: 0%;
    left: 0%;
}

.made{
    position: absolute;
    color: whitesmoke;
    top: 25%;
    right: 1%;
    
}

.fb {
    position: absolute;
    height: 60%;
    top: 13px;
    left: 15px;
}

.ig {
    position: absolute;
    height: 60%;
    top: 13px;
    left: 70px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}