* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

.topnav .aa {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .aa:hover {
    background-color: #1E5C46;
    color: whitesmoke;
}

.topnav .aa.active {
    background-color: #2196F3;
    color: white;
}


.topnav .login-container {
    float: right;
}

.topnav input[type=email] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 120px;
}

.topnav input[type=password] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 120px;
}

.topnav .login-container .botao {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 2px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .login-container .botao:hover {
    background-color: #1E5C46;
}

@media screen and (max-width: 600px) {
    .topnav .login-container {
        float: none;
    }
    .topnav a, .topnav input[type=email], .topnav input[type=password], .topnav .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=email] {
        border: 1px solid #ccc;
    }
}

iframe {
    width: 100%;
    height: 1000px;
}