.bg {
    position: absolute;
    left: 15%;
    width: 1333px;
    height: 889px;
    background: #DBDBDB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.bateria {
    position: absolute;
    width: 40%;
    left: 30px;
    top: 40px;
    border-radius: 10px;
}

.carburador {
    position: absolute;
    width: 40%;
    left: 30px;
    top: 40px;
    border-radius: 10px;
}

.embreagem {
    position: absolute;
    width: 40%;
    left: 30px;
    top: 40px;
    border-radius: 10px;
}

.titulo {
    position: inherit;
    top: 20px;
    left: 600px;
    font-family: sans-serif;
    font-size: 30px;
}

.modelo {
    position: inherit;
    left: 600px;
    top: 130px;
    font-family: sans-serif;
    font-size: 20px;
}

.but1 {
    position: inherit;
    width: 80px;
    height: 35px;
    left: 680px;
    top: 140px;
    color: black;
    background-color: white;
    border-style: ridge;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.but2 {
    position: inherit;
    width: 80px;
    height: 35px;
    left: 770px;
    top: 140px;
    color: black;
    background-color: white;
    border-style: ridge;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

button {
    position: absolute;
    width: 343px;
    height: 60px;
    left: 950px;
    top: 500px;
    background: #1E5C46;
    color: whitesmoke;
    border-radius: 15px;
    border-style: none;
    font-size: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.preco {
    position: relative;
    font-family: sans-serif;
    font-size: 25px;
    color: #31329B;
    left: 1150px;
    top: 430px;
}

.desc {
    position: absolute;
    font-family: sans-serif;
    font-size: 17px;
    top: 600px;
    left: 35px;
    right: 40%;
}

footer{
    position: absolute;
    background-color: #1E5C46;
    
    width: 100%;
    height: 7%;
    bottom: 0%;
    left: 0%;
}

.made{
    position: absolute;
    color: whitesmoke;
    top: 25%;
    right: 1%;
    
}

.fb {
    position: absolute;
    height: 60%;
    top: 13px;
    left: 15px;
}

.ig {
    position: absolute;
    height: 60%;
    top: 13px;
    left: 70px;
}