.sobre {
    position: absolute;
    width: 927px;
    height: 873px;
    background: #DBDBDB;
    border-radius: 15px;
    left: 25%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

h1 {
    font-size: 48px;
    font-family: 'Recursive', sans-serif;
}

.img1 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 150px;
    left: 30px;
    background: #C4C4C4;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img2 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 380px;
    left: 30px;
    background: #C4C4C4;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img3 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 610px;
    left: 30px;
    background: #C4C4C4;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.texto {
    font-family: sans-serif;
    padding-left: 270px;
    padding-right: 30px;
    padding-top: 15px;
    text-align: left;

}

footer{
    position: absolute;
    background-color: #1E5C46;
    
    width: 100%;
    height: 7%;
    bottom: 0%;
    left: 0%;
}

.made{
    position: absolute;
    color: whitesmoke;
    top: 25%;
    right: 1%;
    
}

.fb {
    position: absolute;
    height: 60%;
    top: 13px;
    left: 15px;
}

.ig {
    position: absolute;
    height: 60%;
    top: 13px;
    left: 70px;
}